<!DOCTYPE html>
<html>
<head>
    <title>지역게시판</title>
</head>
    

    
    

<body>
    
    <div id="divCategory">
    <h2>서울시</h2>

        
        <li><span id="test1" style="CURSOR: hand" 
                  onclick="if(plain1.style.display == 'none') {plain1.style.display=''; test.innerText = '강남구'} else {plain1.style.display = 'none'; test.innerText = '강남구'}">강남구 (클릭)</span></li>
            <div id="plain1" style="display: none">
                <a href="regionboard/boardList">└ 청담동 (클릭) </a>
                    <form name="form1" action="regionboard/favorites" method="post">
                        <input type="button" value="★" onclick=form1.submit()>
                        <input type="hidden" name="id_email" value="<%=user.id_email%>">    
                        <input type="hidden" name="goodPlace" value="강남구청담동">
                        <input type="hidden" name="strict" value="강남구"> 
                    </form>
                <a href="">└ 논현동</a><br>
                <a href="">└ 압구정동</a><br>
            </div>
        <br>
        <li><span id="test2" style="CURSOR: hand" 
                  onclick="if(plain2.style.display == 'none') {plain2.style.display=''; test.innerText = '강동구'} else {plain2.style.display = 'none'; test.innerText = '강동구'}">강동구</span></li>
            <div id="plain2" style="display: none">
                <a href="">└ 고덕동</a><br>
                <a href="">└ 암사동</a><br>
                <a href="">└ 천호동</a><br>
                <a href="">└ 성내동</a><br>
            </div>
        <br>
        <li><span id="test3" style="CURSOR: hand" 
                  onclick="if(plain3.style.display == 'none') {plain3.style.display=''; test.innerText = '강북구'} else {plain3.style.display = 'none'; test.innerText = '강북구'}">강북구</span></li>
            <div id="plain3" style="display: none">
                <a href="">└ 월계동</a><br>
                <a href="">└ 낙양동</a><br>
                <a href="">└ 민락동</a><br>
            </div>
        <br>
        <li><span id="test4" style="CURSOR: hand" 
                  onclick="if(plain4.style.display == 'none') {plain4.style.display=''; test.innerText = '강서구'} else {plain4.style.display = 'none'; test.innerText = '강서구'}">강서구</span></li>
            <div id="plain4" style="display: none">
                <a href="">└ 월계동</a><br>
                <a href="">└ 낙양동</a><br>
                <a href="">└ 민락동</a><br>
            </div>
        <br>
        <li><span id="test5" style="CURSOR: hand" 
                  onclick="if(plain5.style.display == 'none') {plain5.style.display=''; test.innerText = '관악구'} else {plain5.style.display = 'none'; test.innerText = '관악구'}">관악구</span></li>
            <div id="plain5" style="display: none">
                <a href="">└ 월계동</a><br>
                <a href="">└ 낙양동</a><br>
                <a href="">└ 민락동</a><br>
            </div>
        <br>
        <li><span id="test6" style="CURSOR: hand" 
                  onclick="if(plain6.style.display == 'none') {plain6.style.display=''; test.innerText = '광진구'} else {plain6.style.display = 'none'; test.innerText = '광진구'}">광진구</span></li>
            <div id="plain6" style="display: none">
                <a href="">└ 월계동</a><br>
                <a href="">└ 낙양동</a><br>
                <a href="">└ 민락동</a><br>
            </div>
        <br>
        <li><span id="test7" style="CURSOR: hand" 
                  onclick="if(plain7.style.display == 'none') {plain7.style.display=''; test.innerText = '구로구'} else {plain7.style.display = 'none'; test.innerText = '구로구'}">구로구</span></li>
            <div id="plain7" style="display: none">
                <a href="">└ 월계동</a><br>
                <a href="">└ 낙양동</a><br>
                <a href="">└ 민락동</a><br>
            </div>
        <br>
        

        

        
    </div>    
</body>

</html>