<!DOCTYPE html>
<html lang="ko">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My page</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="../https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/freelancer.min.css" rel="stylesheet">
    <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  	<link href='../https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
  	<link href="../button_styles.css" rel='stylesheet'>

  </head>

  <body id="page-top">
    <section class="portfolio" id="portfolio">
      <div class="container" style="padding-top:100px">
        <h3>개인정보 수정</h3>
        <br><br>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <form action="/mypage/editInfo/nickName" name="change_nickName" method="POST">
                  <td style="border-right: hidden; border-left: hidden">
                    현재 닉네임 : <%=nickName%></td> 
                  <td style="border-right: hidden;">새로운 닉네임 : 
                    <input type="text" id="nickName" name="nickName" maxlength="20" value="" required>
                    <div id="nickname_check"></div>
                  </td>
                  <td style="border-right: hidden;">
                    <button type="submit" class="btn btn-primary btn-xl" style="background: #18bc9c; width: 100px; height: 50px">
                      적용
                    </button>
                  </td>
                </form>
              </tr>
              <tr>
                <form action="/mypage/editInfo/region" name="change_region" method="POST">
                  <td style="border-right: hidden; border-left: hidden">
                    현재 설정지역 : <%=region%></td>
                  <td style="border-right: hidden;">새로운 설정지역 : 
                    <select name="new_region" id="new_region">
                      <% 
                        for(var i=0; i<region_list.length; i++) {
                      %>
                      <option value="<%=region_list[i]%>"><%=region_list[i]%></option>
                      <% } %>
                    </select>
                  </td>
                  <td style="border-right: hidden;">
                    <button type="submit" class="btn btn-primary btn-xl" style="background: #18bc9c; width: 100px; height: 50px">
                      적용
                    </button>
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
          <br><br>
          <form method="POST">
            <button type="submit" class="btn btn-primary btn-xl" style="background: #18bc9c; width: 110px; height: 50px">
              완료
            </button>
          </form>
        <br><br>
      </div>
    </section>

      
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Needs</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-fixed Black rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/editInfo">개인정보 수정</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myPost/freeboard">내 글(자유 게시판)</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myPost/regionboard">내 글(지역 게시판)</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myLikePost">내가 공감한 글</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myCommentPost">내가 댓글 남긴 글</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Footer -->
    <footer class="footer text-center" style="margin-top:300px">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">위치</h4>
            <p class="lead mb-0">서울특별시
              </p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">

          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">문의</h4>
            <p class="lead mb-0">02) XXX - XXXX</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small> (주)Needs</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/freelancer.min.js"></script>
    <script>
      $("#nickName").blur(function() {
        var nick = $('#nickName').val();
        $.ajax({
          url : '../register/check?nickname='+ nick,
          type : 'GET',
          success : function(data){
            console.log("1 = 중복o / 0 = 중복x : "+ data);
            console.dir(data);
            if (data == 1){
              // 1: 닉네임이 중복인 경우
              $("#nickname_check").text("사용중인 닉네임입니다.");
              $("#nickname_check").css("color", "red");
              $("#reg_submit").attr("disabled", true);
            } 
            else {
              if(nick == ""){
                $("#nickname_check").text("닉네임을 입력해주세요");
                $("#nickname_check").css("color", "red");
                $("#reg_submit").attr("disabled", true);
              }
              else {
                $("#nickname_check").text("사용가능한 닉네임입니다");
                $("#nickname_check").css("color", "green");
                $("#reg_submit").attr("disabled", false);
              }
            }
          }, error : function(){
            console.log("실패");
          }
        })
      })
    </script>



  </body>

</html>
