<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>글 작성/수정</title>
</head>
    
<body>
	<form name="form1" action="boardSave" method="post">
		<table border="1" style="width:600px">
			<caption><h1>글 작성/수정</h1></caption>
			<colgroup>
				<col width='15%' />
				<col width='*%' />
			</colgroup>
			<tbody>
				<tr>
					<td>제목</td> 
					<td><input type="text" name="title" size="50" maxlength="250" value="<%=row.title%>"></td> 
				</tr>
                <tr>
					<td>작성자</td> 
					<td><input type="text" name="write" size="20" maxlength="20" value="<%=row.write%>"></td> 
				</tr>
				<tr>
					<td>내용</td> 
					<td><textarea name="content" rows="10" cols="60"><%=row.content%></textarea></td> 
				</tr>
			</tbody>
		</table>
		<pre>                                                                                       <input type="submit" value="완료" onclick=form1.submit()></pre>
        <input type="hidden" name="document_name" value="<%=row.document_name%>"> 
	</form>	
</body>
</html>